
.imagemLogin{
    background-image: url(https://i.imgur.com/GgVlcB4.png);
    background-repeat: no-repeat;
    width: 100vh;
    min-height: 100vh;
    background-size: cover;
    background-position: center;
}


.text{
    text-decoration: none;
}
.textoLogin{
    font-weight: bold;

}
.fundoLogin{
    color: rgb(82, 6, 180);
    background-color: #d4c7c5;
}